<launch>
<include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch"/>
<include file="$(find turtlebot_gazebo)/launch/gmapping_demo.launch"/>
<include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml"/>
<node name="path_basis_node" pkg="mine_detection" type="path_basis"/>
<node name="$(anon rviz)" pkg="rviz" type="rviz"/>
</launch>